{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "tailwindStylesheet": "./src/index.css",
    "tailwindFunctions": ["clsx", "cn", "cva"],
    "plugins": [
        "prettier-plugin-tailwindcss",
        "prettier-plugin-organize-imports",
        "prettier-plugin-css-order"
    ]
}
