@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0 0 0);
  --primary: oklch(0.397 0.1046 23.1114);
  --primary-foreground: oklch(0.9222 0.0171 76.1068);
  --secondary: oklch(0.8851 0.0237 82.1164);
  --secondary-foreground: oklch(0.2762 0.0177 35.7348);
  --muted: oklch(0.9846 0.0017 247.8389);
  --muted-foreground: oklch(0.551 0.0234 264.3637);
  --accent: oklch(0.9377 0.0128 86.8312);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.4971 0.136 33.2246);
  --destructive-foreground: oklch(0.8731 0.0298 67.4213);
  --border: oklch(0.9276 0.0058 264.5313);
  --input: oklch(0.9276 0.0058 264.5313);
  --ring: oklch(0.6489 0.053 27.8805);
  --chart-1: oklch(0.5944 0.1353 22.0374);
  --chart-2: oklch(0.5307 0.1465 23.5232);
  --chart-3: oklch(0.465 0.126 23.3542);
  --chart-4: oklch(0.397 0.1046 23.1114);
  --chart-5: oklch(0.2992 0.0732 22.5317);
  --sidebar: oklch(0.9846 0.0017 247.8389);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0.397 0.1046 23.1114);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9247 0.0154 77.0674);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.9276 0.0058 264.5313);
  --sidebar-ring: oklch(0.6489 0.053 27.8805);
  --font-sans: Texturina, ui-serif, serif;
  --font-serif: Labrada, ui-serif, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2046 0 0);
  --foreground: oklch(0.9219 0 0);
  --card: oklch(0.2686 0 0);
  --card-foreground: oklch(0.9219 0 0);
  --popover: oklch(0.2686 0 0);
  --popover-foreground: oklch(0.9219 0 0);
  --primary: oklch(0.3989 0.1057 22.4132);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.2686 0 0);
  --secondary-foreground: oklch(0.9219 0 0);
  --muted: oklch(0.2686 0 0);
  --muted-foreground: oklch(0.7155 0 0);
  --accent: oklch(0.4732 0.1247 46.2007);
  --accent-foreground: oklch(0.9243 0.1151 95.7459);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3715 0 0);
  --input: oklch(0.3715 0 0);
  --ring: oklch(0.7686 0.1647 70.0804);
  --chart-1: oklch(0.8369 0.1644 84.4286);
  --chart-2: oklch(0.6658 0.1574 58.3183);
  --chart-3: oklch(0.4732 0.1247 46.2007);
  --chart-4: oklch(0.5553 0.1455 48.9975);
  --chart-5: oklch(0.4732 0.1247 46.2007);
  --sidebar: oklch(0.1684 0 0);
  --sidebar-foreground: oklch(0.9219 0 0);
  --sidebar-primary: oklch(0.7686 0.1647 70.0804);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.4732 0.1247 46.2007);
  --sidebar-accent-foreground: oklch(0.9243 0.1151 95.7459);
  --sidebar-border: oklch(0.3715 0 0);
  --sidebar-ring: oklch(0.7686 0.1647 70.0804);
  --font-sans: Texturina, ui-serif, serif;
  --font-serif: Labrada, ui-serif, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

/* --- LITM inline tokens --- */
.litm-tag,
.litm-status,
.litm-limit,
.litm-weakness {
  display: inline-flex;
  position: relative;
  align-items: center;
  gap: 0.1rem;
  white-space: nowrap;
  font-style: italic;
  color: black;
  background: linear-gradient(
    120deg,
    var(--litm-token-background-color) 0%,
    var(--litm-token-background-color) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: 0 60%;
}

/* Tag */
.litm-tag {
  --litm-token-background-color: var(--litm-pastel-yellow);
}

/* Status */
.litm-status {
  --litm-token-background-color: var(--litm-pastel-green);
}

/* Weakness tag */
.litm-weakness {
  --litm-token-background-color: var(--litm-ganoush-orange);
  padding-left: 1.8ch;
}

.litm-weakness::before {
  content: "";
  background-image: url("/assets/images/weakness-arrows.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #946435;
  display: inline-block;
  width: 1.2ch;
  aspect-ratio: 800 / 800;
  position: absolute;
  left: 0.3ch;
  top: 50%;
  transform: translateY(-40%);
}

/* Limit: number shown via ::after */
.litm-limit {
  --litm-token-background-color: var(--litm-grayish-red);
}

.litm-limit[data-limit-value] {
  background-size: 80% 50%;
  background-position: 0 70%;
}

.litm-limit[data-limit-value]::before {
  content: attr(data-limit-value);
  font-family: var(--font-ch-limits);
  /*font-size: 0.9rem;*/
  font-weight: 700;
  color: var(--litm-parchment-yellow);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.35rem;
  z-index: 10;
}

.litm-limit[data-limit-value="~"]::before {
  right: 0.43rem;
  transform: translateY(-45%);
}

.litm-limit[data-limit-value="1"]::before {
  right: 0.43rem;
  transform: translateY(-50%);
}

.litm-limit[data-limit-value="2"]::before {
  right: 0.38rem;
  transform: translateY(-50%);
}

.litm-limit[data-limit-value="3"]::before {
  right: 0.42rem;
  transform: translateY(-55%);
}

.litm-limit[data-limit-value="4"]::before {
  right: 0.35rem;
  transform: translateY(-57%);
}

.litm-limit[data-limit-value="5"]::before {
  right: 0.38rem;
  transform: translateY(-55%);
}

.litm-limit[data-limit-value="6"]::before {
  right: 0.42rem;
  transform: translateY(-38%);
}

.litm-limit[data-limit-value]::after {
  content: "";
  transform: translateY(5%);
  width: 1.2em;
  height: 1.2em;
  background: url("/assets/images/shield.svg") no-repeat center / contain;
}

/* Optional: prevent broken layout in lists/paragraphs */
p .litm-tag,
p .litm-status,
p .litm-limit,
p .litm-weakness,
li .litm-tag,
li .litm-status,
li .litm-limit,
li .litm-weakness {
  vertical-align: baseline;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
